table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}

td,
th {
  border: 1px solid #f47270;
  text-align: left;
  padding: 8px;
  color: #2d4976;
}

tr:nth-child(even) {
  background-color: #fd9392;
}
button.reset-pass {
  box-shadow: 0px 2px 2px #2d4976;
  background-color: transparent;
  border: 2px solid #2d4976;
  outline: none;
  height: 1.4rem;
  margin-left: 0.3rem;
}
button.submit-pass,
button.cancel-pass {
  height: 1.6rem;
  width: 4rem;
}
.box-btn-pass {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
