.page-err {
  height: 80vh;
}

p.text-error-p {
  color: #2d4976;
  font-weight: bold;
  font-size: 18px;
}
strong.pathname {
  color: #2a4e0f;
  font-size: 24px;
}
.page-err a {
  color: #2a4e0f;
  font-size: 18px;
}
.box-left {
  max-width: 80%;
  margin: 0 auto;
  padding: 3rem 1rem;
  background-color: #ffffff82;
  border-radius: 5px;
}
.page-err button {
  margin-top: 2rem;
  min-width: 5rem;
  min-height: 2rem;
  font-size: 14px;
  background-color: #2d4976;
  color: #fff;
  border: none;
  outline: none;
}
