.App {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  background-image: url("./images/bg-ml.jpg");
  background-size: cover;
  background-repeat: repeat-y;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button,
input {
  border: 1px solid #4c6748;
  outline: 1px solid #4c6748;
  border-radius: 3px;
}
.App .box-melon {
  height: 100vh;
  width: 100vw;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 480px) {
  .App {
    background-size: contain;
  }
}
